# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# FastAPI
/.venv
/.vscode
/.idea
/.mypy_cache
/.pytest_cache

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Dependencies
/.pipenv
/.pipenv.lock
fastapienv